<html>
  <title>Logs</title>
  <body>

<a href="..">Главная</a> <a href="settings">Настройка</a> <a href="logs">Logs</a><br>

<table width="100%" border="1" cellspacing="0" cellpadding="0"> 
	<tr> 
           <td width="20%" height="1">   
             <b>Time</b>
	   </td>

           <td width="80%" height="1">
              <b>Message</b>
	   </td> 
        
       </tr>  
 
  {% for log in Logs %}
       <tr> 
           <td>   
             {{ log.time2 }}
	   </td>

           <td>
              {{ log.logstr }}
	   </td> 
          
       </tr>  
  {% endfor %}
</table>
<br>

Application: Mail2SMS for Gmail.com &nbsp; (Version: 5)<br>
<a href="http://bit.ly/SMSForum"><img src="http://bit.ly/ImageVer5" /></a>
<br>


License:&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Лицензия Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a> &nbsp;

Author:&nbsp;<a href="http://twitter.com/OlegT_"><img src="http://bit.ly/TwitterImg" width="20" height="20"/><strong>Oleg</strong></a>  &nbsp;

<br>

<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Технология Google App Engine" />

 </body>
</html>